.dt-buttons, .dataTables_length{
    display: contents;
}
.dashboard-loader{
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 50%
}
.bg-text-wp{ 
    background-color: #0a0463;
    color: #fff;
}
.bg-text-wp-no-action{ 
  background-color: #eee8e7;
  color: #fff;
}
.bg-text-wp-action{ 
    background-color: #9B918D !important;
    color: #fff !important;
}
.bg-text-wp-action:hover{
  background-color: #020202 !important;
  color: #fff !important;
}
.bg-text-wp:hover{
  background-color: #020202;
  color: #fff;
}
.bg-excel-wp{
    background-color: green;
    color: #fff;
    border: 1px solid #fff;
}
.icon-wp{
    text-align: "center";
    border-radius: 100%;
}
.bottom .dataTables_length label{
  margin: 6px 0px 0px 10px;
}
@media print
{   
    @page {
        margin-top: 0;
        /* margin-bottom: 0; */
        size: auto;
        margin: 0;  
        top: 0px;
    }
    /* body {
        padding-top: 72px;
        padding-bottom: 72px ;
    } */
}
@media only screen and (min-width: 801px) { 
  .float-item-media{
      float: right;
  }
}
.viewDescription{
    /* display: block; */
    font-size: 1.1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: initial;
}


/* dropdown css */
.dropbtn {
    background-color: #eef2f4;
    color: #080808;
    padding: 5px;
    font-size: 15px;
    border: none;
    border: 1px solid #aca6a6;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    font-weight: 500;
  }
  .d-filters{
    /* background-color: #eef2f4; */
    color: #080808;
    /* padding: 5px; */
    font-size: 15px;
    border: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    font-weight: 500;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    /* background-color: #2980B9; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content, .dropdown-content-dateRange{
    display: none;
    float: left;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* border-radius: 20px; */
    z-index: 1;
  }
  
  .dropdown-content{
    margin-top: 9px;
  }
  #filters-d, #amount-less, #amount-great, #amount-equal{
    height: 4px;
  }
  .des-filter-inputs{
      margin: 10px 0px 5px 0px;
  }
  .filterDrop{
      width: 100px;
  }
  .other-input-select{
      /* height: 35px; */
      /* width: 180px; */
      /* float: right; */
  }
  .bulk-pay-name form div div{
    height: 32px;
    padding: 0px 0px 0px 5px;
    margin-top: 0px;
}
  .filterDrop form div div{
      height: 32px;
      padding: 0px 0px 5px 5px;
      margin-top: 13px;
  }
  .add-item{
    margin-right: 10px;
  }
  /* #filterDrop form div div, #other-input-select{
    height: 30px;
    margin-top: 13px;
    padding: 0px 0px 5px 5px;
  } */
  .other-input-text{
      height: 4px !important;
  }
  #dateRange{
    height: 1px !important

 }
 .datePicker-0{
     /*  */
    /* border: 1px solid #080808 !important; */
    margin: 0 0 40px 0px;
 }
  #dateRange{
    width: 250px;
  }
  #dateRange-control{
    /* padding: 16px 0px; */
    /* position: absolute; */
    margin: 6px 0px 0px 0px;
    /* height: 2px; */
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}