body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: rgba(0,0,0,.87);

}
.body, .header, .footer, .bg-light{
    background-color: #fff !important;
}
.sidebar{
    background-color: var(--cui-sidebar-bg, #060606) !important;
}
.header{
    border-bottom: var(--cui-header-border-width, 1px) solid var(--cui-header-border-color, #1152bd);
}