body, .dash-info-des-0{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: rgba(0,0,0,.87);

}
.checkout-0{
    font-size: 22px !important;
    font-weight: 400 !important;
    color: #2d2c2cde;
}
.checkout-ps-info{ 
    font-size: 13px !important;
    font-weight: 40 !important;
    color: #000;
}
.checkout-0, .checkout-description-0, .checkout-description-1{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif !important;
    line-height: 1.5 !important;
}
.checkout-description-0{
    font-size: 16px !important;
    font-weight: 200 !important;
    color: #2d2c2cde;
}
.checkout-description-1{
    font-size: 13px !important;
    font-weight: 200 !important;
    color: #343232de;
    text-align: center;
}
.f-w-label{
    font-weight: 500 !important;
}
.f-w-label-checkbox{
    font-weight: 10 !important;
    font-size: 10rem !important;
}
.bg-text-com-wp{
    background-color: #1152bd;
    color: #fff;
}

.body, .header, .footer, .bg-light{
    background-color: #f8f8f8 !important;
}
.sidebar{
    background-color: var(--cui-sidebar-bg, #797575) !important;
}
.header{
    border-bottom: var(--cui-header-border-width, 1px) solid var(--cui-header-border-color, #1152bd);
}

.login-input:focus {
    border-color: white !important;
    box-shadow: none !important;
}
.profile-img, .profile-img:hover, .profile-img:focus{
    background-color: #fafafa;
    box-shadow: none !important;
    border: solid 10px #fff;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}
